 <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center portfolio-title">
                    <h2 class="portfolio-title">Testimonials</h2>
<!--                     <hr class="star-primary"> -->
                </div>
            </div>
            <div class="row">
                  <div class=".col-xs-12 .col-sm-6 col-md-4 offset-3">
                     yi
                  </div>

                  <div class=".col-xs-12 .col-sm-6 col-md-4 offset-3">
                    yo
                  </div>

                  <div class=".col-xs-12 .col-sm-6 col-md-4 offset-3">
                    ya
                  </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">


                </div>
            </div>
        </div>
    </section>
