 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="portfolioModal-{{ post.modal-id }}">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            <div class="iframediv">
<!--                               <iframe src="https://drive.google.com/file/d/1MuehPYBzTdyW6_6REIMunXU40vjx7MHr/preview" type='application/pdf' style="width:1200px; height:700px;" frameborder="0"></iframe> -->
                              <iframe src="{{ post.pdf }}" type='application/pdf' style="width:1200px; height:700px;" frameborder="0"></iframe>
                            </div>
                            <!-- <img src="img/portfolio/{{ post.article }}" class="img-responsive img-centered" alt="{{ post.alt }}"> -->
                            {% if post.description %}
                                <p>{{ post.description }}</p>
                            {% endif %}
                            <ul class="list-inline item-details">
                                {% if post.client %}
                                    <li>Client:
                                        <strong><a href="http://startbootstrap.com">{{ post.client }}</a>
                                        </strong>
                                    </li>
                                {% endif %}
                                {% if post.project-date %}
                                    <li>Date:
                                        <strong><a href="http://startbootstrap.com">{{ post.project-date }}</a>
                                        </strong>
                                    </li>
                                {% endif %}
                                {% if post.category %}
                                    <li>Service:
                                        <strong><a href="http://startbootstrap.com">{{ post.category }}</a>
                                        </strong>
                                    </li>
                                {% endif %}
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
